body{
  background-color: white;
}

.ContainerDashboard {
  text-align: center;
  background-color: white;
}

.title{
  color:#4880FF;
  font-size:25px;
  left:20px;
  position:fixed;
  top:20px;
  z-index:30;
}

label {
  width: 20px;
  height: 80px;
  background-color: white;
  color: gray;
  position: absolute; 
  right: -20px;
  top: 45%; 
  transform: translateY(-50%);
  line-height: 80px;
  text-align: center;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  cursor:pointer;
  z-index: 5;
}

.arrow-label {
  position: absolute;
  right: -20px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 30;
}

.arrow-label i {
  color: gray;
}

#sideMenu-active:checked + .sideMenu {
  transform: translateX(-100%);
  label .fas {
    transform: scaleX(-1);
  }
}

#sideMenu-active {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.sideMenu {
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: white;
  border-right: 3px solid #d1d1d1;
  display: flex;
  flex-direction: column; 
  padding: 50px 0;
  box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
  position: fixed;
  transform: translateX(0);
  transition: 0.5s;
  z-index:20;
}

.settings {
  position: absolute;
  top:480px;
  left:50%;
  transform: translateX(-50%); 
  color:black;
  text-decoration:none;
  list-style-type: none;
  z-index:100;
  cursor:pointer;
}

.logout {
  position: absolute;
  top:510px;
  left:50%;
  transform: translateX(-50%); 
  color:black;
  text-decoration:none;
  list-style-type: none;
  z-index:100;
  cursor:pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu {
  display: inline-block;
  font-size: 15px;
  margin-top:30px;
}

ul.menu li {
  position: relative;
  white-space: nowrap;
  z-index:110;
}

ul.menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 0 30px;
  text-decoration: none;
  line-height: 40px;
  text-align:center;
}

ul.menu li:hover>a {
  background-color: #4880FF;
  color: white;
}

ul.menu ul {
  border: #FFFFFF 1px solid;
  position: absolute;
  z-index: 99;
  left:auto;
  right: -180px;
  top: 0;
  min-width: 180px;
}

.dash-icon ,.user-icon,.shop-icon,.products-icon,.hospital-icon,.doctor-icon,.post-icon{
  position:absolute;
  top:5px;
  width:30px;
  height:30px;
  left:50px;
  margin-right:10px;
}